@page
@model WEBII.Pages.Disciplinas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.Nome" class="control-label"></label>
                <input asp-for="DisciplinaVM.vDisciplina.Nome" class="form-control" />
                <span asp-validation-for="DisciplinaVM.vDisciplina.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.Periodo" class="control-label"></label>
                <input asp-for="DisciplinaVM.vDisciplina.Periodo" class="form-control" />
                <span asp-validation-for="DisciplinaVM.vDisciplina.Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.Categoria" class="control-label"></label>
                <select asp-for="DisciplinaVM.vDisciplina.categoriaId" asp-items="@Model.DisciplinaVM.vListCategoria" class="form-control">
                    <option value="-1"></option>
                </select>
                <span asp-validation-for="DisciplinaVM.vDisciplina.categoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.Dificuldade" class="control-label"></label>
                <input asp-for="DisciplinaVM.vDisciplina.Dificuldade" class="form-control" />
                <span asp-validation-for="DisciplinaVM.vDisciplina.Dificuldade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.Creditos" class="control-label"></label>
                <input asp-for="DisciplinaVM.vDisciplina.Creditos" class="form-control" />
                <span asp-validation-for="DisciplinaVM.vDisciplina.Creditos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.HoraAula" class="control-label"></label>
                <input asp-for="DisciplinaVM.vDisciplina.HoraAula" class="form-control" />
                <span asp-validation-for="DisciplinaVM.vDisciplina.HoraAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.HoraRelogio" class="control-label"></label>
                <input asp-for="DisciplinaVM.vDisciplina.HoraRelogio" class="form-control" />
                <span asp-validation-for="DisciplinaVM.vDisciplina.HoraRelogio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.qtdTeorica" class="control-label"></label>
                <input asp-for="DisciplinaVM.vDisciplina.qtdTeorica" class="form-control" />
                <span asp-validation-for="DisciplinaVM.vDisciplina.qtdTeorica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.qtdPratica" class="control-label"></label>
                <input asp-for="DisciplinaVM.vDisciplina.qtdPratica" class="form-control" />
                <span asp-validation-for="DisciplinaVM.vDisciplina.qtdPratica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaVM.vDisciplina.Ementa" class="control-label"></label>
                <input asp-for="DisciplinaVM.vDisciplina.Ementa" class="form-control" />
                <span asp-validation-for="DisciplinaVM.vDisciplina.Ementa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
