@page
@model WEBII.Pages.Perfil.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PerfilVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerfilVM.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerfilVM.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerfilVM.NomeNormalizado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerfilVM.NomeNormalizado)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PerfilVM.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
